/* App.css */

/* Styling for the App container */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styling for the form rows */
.form-row {
  margin-bottom: 10px;
  width: 100px;
}
.name {
  margin-top: 10px;
  margin-left: 5px;
  width: 300px;
}

.number {
  margin-top: -54px;
  margin-left: 400px;
  width: 300px;
}

.email {
  margin-top: 20px;
  margin-left: 5px;
  width: 300px;
}
.joiningDate {
  margin-top: 20px;
  margin-left: 5px;
  width: 300px;
}
.designation {
  margin-top: -54px;
  margin-left: 400px;
  width: 300px;
}

.id {
  margin-top: -54px;
  margin-left: 400px;
  width: 300px;
}
.gender {
  margin-top: -54px;
  margin-left: 400px;
  width: 300px;
}

.submit {
  background-color: dimgrey;
  font-size: large;
  margin-left: 300px;
  margin-top: 20px;
  height: 40px;
  width: 150px;
}

.addexp {
  background-color: dimgrey;
  font-size: large;
  margin-left: 0px;
  margin-top: 50px;
  height: 40px;
  width: 250px;
}

/* Styling for the h3 headings (Residential Address and Permanent Address) */
h3 {
  margin-top: 20px;
}

/* Styling for the "Same as Residential" checkbox */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Styling for the Upload Document section */
h2 {
  margin-top: 20px;
}

/* Styling for the form fields */
label {
  font-weight: bold;
  display: block;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.experience {
  margin-top: 5px;
}

.companyname {
  width: 200px;
  padding: 10px;
}
.degination2 {
  width: 200px;
  padding: 10px;
}
.timeperiod {
  width: 200px;
  padding: 10px;
}
.delbutton {
  margin: 10px;
  width: 100px;
}

@media screen and (max-width: 600px) {
  .number,.designation, .id, .gender {
    margin-top: 10px;
  margin-left: 5px;
  width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .degination2 {
  margin-top: 100px;
  margin-left: -322px;
  width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .companyname {
  margin-left: -10px;
  width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .timeperiod {
  margin-top: 200px;
  margin-left: -325px;
  width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .submit {
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .addexp {
    margin-top: 50px;
    margin-left: 10px;
  }
}
