/* App.css */

/* Styling for the App container */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styling for the form rows */
.form-row {
  margin-bottom: 10px;
  width: 100px;
}
.firstname {
  margin-top: 10px;
  margin-left: 5px;
  width: 300px;
}

.lastname {
  margin-top: -54px;
  margin-left: 400px;
  width: 300px;
}

.email {
  margin-top: 20px;
  margin-left: 5px;
  width: 300px;
}
.dateofbirth {
  margin-top: -54px;
  margin-left: 400px;
  width: 300px;
}
.street1 {
  margin-top: 0px;
  margin-left: 5px;
  width: 300px;
}
.street2 {
  margin-top: -54px;
  margin-left: 400px;
  width: 300px;
}
.street3 {
  margin-top: 20px;
  margin-left: 5px;
  width: 300px;
}
.street4 {
  margin-top: -50px;
  margin-left: 400px;
  width: 300px;
}
.checkbox {
  margin-top: 0px;
  margin-left: -390px;
}
.checkbox2 {
  margin-top: -22px;
  margin-left: 30px;
}

.filename {
  margin-top: 0px;
  margin-left: 5px;
  width: 200px;
}

.type {
  margin-top: -54px;
  margin-left: 250px;
  width: 200px; 
}

.upload {
  margin-top: -54px;
  margin-left: 500px;
  width: 200px;
}
.submit{
  background-color: dimgrey;
  font-size: large;
  margin-left: 255px;
  margin-top: 20px;
  height: 50px;
  width: 150px;
}

/* Styling for the h3 headings (Residential Address and Permanent Address) */
h3 {
  margin-top: 20px;
}

/* Styling for the "Same as Residential" checkbox */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Styling for the Upload Document section */
h2 {
  margin-top: 20px;
}

/* Styling for the form fields */
label {
  font-weight: bold;
  display: block;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
